<div class="container">
   <form id="admin-login-form" class="d-flex">
      <input class="form-control me-2" name="login" autocomplete="username" type="text"
                        placeholder="Login" aria-label="Login">
      <input class="form-control me-2" name="password" autocomplete="current-password" type="password"
                        placeholder="Password" aria-label="Password">
      <button id="admin-login-btn" class="btn btn-primary" type="submit">Save user</button>
   </form>
   <h1>Please log out after saving and log in with a new username and password.</h1>
</div>