<div class="container">
	<div class="row">
		<ul class="list-group list-group-horizontal">
			<div class="col md-3">
				<li class="list-group-item md-4">	
			  		<p>Ready</p>	
				  	<div class="col">
						<div id="ready"></div>
						<button id="buttonReady">+ add Card</button>
					</div>
				</li>
			</div>
			<div class="col md-3">
			  	<li class="list-group-item">
			  		<p>In progress</p>	
				  	<div class="col">
						<div id="progress"></div>
						<button id="buttonProgress" disabled = "disabled">+ add Card</button>
					</div>
			  	</li>
		  	</div>
		  	<div class="col md-3">
			  	<li class="list-group-item">
			  		<p>Finished</p>	
				  	<div class="col">
						<div id="finished"></div>
						<button id="buttonFinished" disabled = "disabled">+ add Card</button>
					</div>
			  	</li>
		  	</div>
		</ul>
	</div>
</div>